input[type=radio]{
    margin: 15px;
}
label{
    font-size:25px;
    margin-top:25px;
}
#day{
    margin-top:19px;
    margin-bottom: 19px;
    padding-top:4px;
}
form{
    margin-left:23px;
    

}
.button{
    margin-left:40px;
    margin-top:26px;
    font-size:20px;

    
}
.age{
    margin-left:3.45em;
    margin-top:20px;
    
}
.name{
    margin-left:22px;
    margin-top:20px;
}
.email{
    margin-left:15px;
    margin-top:20px;
}

